<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.therap.friendz"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".activity.login.LoginActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.friend.FriendListActivity"
                  android:label="@string/friend_list"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".activity.friend.FriendDetailsActivity"
                  android:label="@string/friend_details"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".activity.friend.AddEditFriendActivity"
                  android:label="@string/add_friend"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>
